@import "colors";
@import "main";

.main {
  align-items: center;
  background-color: $gray;
  display: flex;
  height: calc(100vh - 270px);
  justify-content: center;
  position: relative;
  padding: 10px 30px;

  &::after {
    background-image: url('images/joao_cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content:'';
    left:0;
    animation: image-animation 2s linear;
    opacity: .25;
    position:absolute;
    right: 0;
    top:0;
  }

  .about {
    max-width: 800px;
    z-index: 1;

    .stack {
      font-size: 14px;
    }
  }

  p {
    font-size: 18px;
  }

  p + p {
    margin-top: 30px;
  }
}

@keyframes image-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: .25;
  }
}
